{% extends 'base.html' %}

{% block content %}
<div class="container">
        <div class="row">
            <div class="col-md-10 col-lg-8 col-xl-8 offset-xl-2">
                
                {% for post in post_list %}
                <div class="post-preview">
                    <a href="{% url 'post_detail' post.slug  %}">
                        <h2 class="post-title">{{ post.title }}</h2>
                        <h3 class="post-subtitle">{{post.content|slice:":200" }}</h3>
                    </a>
                    <p class="post-meta">Posted by&nbsp;<a href="#">{{ post.created_on}}</a></p>
                </div>
                <hr>
                {% endfor %}

                <div class="clearfix"><button class="btn btn-primary float-right" type="button">Older Posts&nbsp;⇒</button></div>
            </div>
        </div>
    </div>
{% endblock content %}